<div *ngIf="mensaje != ''" [ngClass]="{'error': error === 1, 'ok': error === 0, 'warning': error === 2}">{{mensaje}}</div>
<div>Mostrar tareas <select [(ngModel)]="seleccion" (ngModelChange)="Filtra()">
    <option value="0">Todas</option>
    <option value="1">Finalizadas</option>
    <option value="2">No finalizadas</option>
</select></div>
<table>
    <thead>
        <th>Nombre</th>
        <th>Fecha Inicio</th>
        <th>Fecha fin</th>
        <th>Completada</th>
        <th>Opciones</th>
    </thead>
    <tbody>
        <tr *ngFor="let tarea of ListaTareasFiltro">
            <TD>{{tarea.nombre}}</TD>
            <td>{{tarea.fechaInicio | date:'yyyy-MM-dd'}}</td>
            <td>{{tarea.fechaFin | date:'yyyy-MM-dd'}}</td>
            <td><span *ngIf="tarea.completada">Si</span>
                <span *ngIf="!tarea.completada">No</span></td>
            <td><button (click)="EliminarTarea(tarea.id)">Eliminar</button>&nbsp;&nbsp; <button *ngIf="!tarea.completada"(click)="CompletarTarea(tarea.id)">Completar</button>
                <button *ngIf="tarea.completada" (click)="IniciarTarea(tarea.id)">Iniciar</button></td>
        </tr>
        <tr>
            <td colspan="5" class="pie">
                <button (click)="AgregarTarea()">Agregar</button>
            </td>
        </tr>
    </tbody>
</table>
